// .site-navbar {
//   font-size: 25px;
//   display: flex;
//   flex-direction: row;
//   gap: 1rem;
//   justify-content:space-between;
 
// }
    // .nav-left {
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: center;
    //   align-items: center;
    //   gap: 1rem;
    // }
  
    .nav-right {
      display: flex;
      flex-direction: row;
      justify-content: center;
        align-items: center;
      gap: 1rem;
    }
  
    // .brand {
    //   display: flex;
    //   flex-direction: row;
    //   gap: 1rem;
    // }
    .search {
     border-radius: 7px;
     width: 50%;
     height: 35px;
     padding: 5px;
    
    
    }
    @media screen and (max-width: 760px){
    .resp{
     
      margin-left: 5rem;
      margin-top: 2rem;
      padding-top: 2rem;
    }
    .resp2{
      margin-left: 3.5rem;
      margin-top: 0rem;
      padding-top: 0rem;
    }
    .theme{
      position: absolute;
      top: 4rem;
      left: 1rem;

    }
    .profile{
      position: absolute;
      top: 1.5rem;
      right: 4rem;
    }
    .menu{
      position: absolute;
      top: 0.8rem;
      right: 0.2rem;
    }
   
      
    }
    